*{
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft   YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
}
input:focus{
	background-color: white;
	outline: 0;
	box-shadow: 0 0 5px darkgrey;
}
body{
	min-width: 600px;
	background-color: #E8E8E8;
}
li{
	list-style: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #767676; opacity:1; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #767676;opacity:1;
}

input:-ms-input-placeholder{
    color: #767676;opacity:1;
}

input::-webkit-input-placeholder{
    color: #767676;opacity:1;
}