*{
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft   YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
}
.App::after{
	content: '';
	clear: both;
	display: block;
}
a:hover{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
	outline: 0;
}
input:focus{
	outline: 0;
	text-decoration: none;
}
input[name=search]:focus{
	background-color: white;
	box-shadow: 0 0 5px darkgrey;
}
body{
	min-width: 600px;
	min-height: 300px;
	background-color: #E8E8E8;
}
li{
	list-style: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #767676; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #767676;
}

input:-ms-input-placeholder{
    color: #767676;
}

input::-webkit-input-placeholder{
    color: #767676;
}